.App {
  text-align: center;
}

h1 {
  font-size: 5rem;
  margin-top: 20px;
}

button {
  padding: 15px;
  font-size: 2rem;
  border-radius: 5px;
  margin: 20px;
  border: 0;
}

button:hover {
  cursor: pointer;
  background: gray;
  transition: 0.3s;
}
